body {

}
header{
  background: tomato;
}
main {
  background: skyblue;
}
/*#left, #right{
  padding: 10px;
  box-sizing: border-box;
}*/
#left {
 background: limegreen;
 float: left;
 width:100px;
}
/*#center {
 background: seagreen;
 margin: 0 100px;
 width:60%;
}*/
#right{
  background: lightgreen;
  margin-left: 100px
}

.clearfix::after {
  content: "";
  display: block;
  clear:both;
}
.clear {
  overflow: hidden;
}
footer{
 clear:both;
 background: slategray;

}
.container{
  width: 500px;
  margin: 0 auto;
  background: pink;
}


/*#eyecatch {
  background: url('eyecatch.png') no-repeat;
  background-size: cover;
  background-position: 50% 20%;
  height: 200px;
}*/
